body {
    margin: 0;
    overflow: hidden;
    background: url('aquarium/e4ae0c60-482b-11ef-93c3-ffc52948adf5.jpg') no-repeat center center fixed;
    background-size: cover;
}

#content {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#shark, #diver, #fish1, #fish2, #turtle, #octopus, #jellyfish {
    position: absolute;
}

#shark img {
    width: auto;
    height: 400px;
}

#fish1 img, #fish2 img, #jellyfish img {
    width: auto;
    height: 200px;
}

#diver img, #turtle {
    width: auto;
    height: 100px;
}

#octopus img {
    width: auto;
    height: 150px;
}

/* Shark */
#shark {
    animation-name: shark;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes shark {
    0% {left: 0px; top: 400px; }
    20% {left: 300px; top: 200px; }
    40% {left: 600px; top: 400px; }
    60% {left: 900px; top: 200px; }
    80% {left: 1200px; top: 400px; }
    100% {left: 1500px; top: 200px; transform: scaleX(-1); }
}

/* Diver */
#diver{
    animation: diver 12s linear infinite;
}
@keyframes diver {
    0% { left: 50px; top: 300px; }
    100% { left: 1200px; top: 300px; }
}

/* Fish */
#fish1 {
    animation: Fish 7s linear infinite;
}
#fish2 {
    animation: Fish 13s linear infinite;
}
@keyframes Fish {
    0% { left: 0px; top: 100px; }
    100% { left: 1300px; top: 100px; }
}

/* Turtle */
#turtle {
    animation: Turtle 20s linear infinite;
}
@keyframes Turtle {
    0% { left: 0px; top: 500px; }
    100% { left: 1000px; top: 500px; }
}

/* Octopus */
#octopus {
    left:0px; top:50px;
    position: absolute;
    animation-name: octopus;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes octopus{
    0%   {left:0px; top:50px;}
    20%  {left:200px; top:100px;}
    30%  {left:350px; top:100px;}
    50%  {left: 500px; top:200px;}
    70%  {left: 600px; top:300px;}
    85%  {left:700px; top: 400px;}
    100% {left:800px; top:500px;}  
}

/* Jellyfish */
#jellyfish{
    left:100px; top:400px;
    position: absolute;
    animation-name: jellyfish;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes jellyfish{
    0%   {left:50px; bottom:100px;}
    50%  {left:300px; top:400px;}
    100% {left:1000px; top: 100px;}  
}